<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="u.a.r.g.searchonrole">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sor_icon_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            5
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeusRolesActivity"
            android:label="@string/meus_roles"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.MainActivity" />
        </activity>
        <activity
            android:name=".OrganizacaoActivity"
            android:label="@string/organizacao"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.MainActivity" />
        </activity>
        <activity
            android:name=".ServicosActivity"
            android:label="@string/servicos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.MainActivity" />
        </activity>
        <activity
            android:name=".MinhaCarteiraActivity"
            android:label="@string/minha_carteira"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.MainActivity" />
        </activity>
        <activity
            android:name=".CadastrarRoleActivity"
            android:label="@string/cadastrar_role"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.OrganizacaoActivity" />
        </activity>
        <activity
            android:name=".EditarRoleActivity"
            android:label="@string/editar_role"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.OrganizacaoActivity" />
        </activity>
        <activity
            android:name=".ExcluirRoleActivity"
            android:label="@string/excluir_role"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.OrganizacaoActivity" />
        </activity>
        <activity
            android:name=".TodosRolesActivity"
            android:label="@string/todos_roles"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.a.r.g.searchonrole.MeusRolesActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>