/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2016, 09:29:38
    Author     : Acer
*/

#header{
    background-color: #131313;
   
    
}

#principalTitle{
    color: #d58512;
    font-family: 'Lobster', sans-serif;
}

#oi{
     padding-right: 0px;
    
}

#content{
    background-color:  	#742C05 ;
    padding: 30px 90px 30px 90px;    
}

#footer{
    background-color: #131313;
    border-style: solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    
}

#content2{
    background-color: #EEEED1;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

#title1{
    font-family: 'Dosis', sans-serif;
}

.footer{
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#logo{
    border: #d58512;
    border-style: solid;
    border-radius: 10px;
}
